
.zoom {
    padding: 10px;
    background-color: transparent;
    transition: transform .2s; /* Animation */
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
.zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.textoDiv {
    width: 26rem;
    border: dashed;
    border-color: brown;
    padding-bottom: 1rem;
    background-color: white;
}

.imagenes_carousel {
    height: 3000px;
}

.imagen_transparente{
    background-color:rgba(255,0,0,0.0);
}

.info-slide{
    padding: 35px 24px 20px;
}

#imagen-samsung {
    height: 300px;
    width: 1200px;
}
#imagen-sony {
    height: 300px;
    width: 1150px;
}
#imagen-ps5 {
    height:370px;
    width: 1200px;
}
#imagen-apple {
    height: 410px;
    width: 1200px;
}

/* Buscador de contenido*/
#ctn-icon-search {
    position: absolute;
    right: 20px;
    height: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
}
#ctn-bars-search{
    position:fixed;
    top:80px;
    width:100%;
    background:white;
    padding:20px;
}
#ctn-bars-search input{
    display:block;
    width:1200px;
    margin:auto;
    padding:10px;
    font-size:10px;

}

/*Botones de carrito de compras e inicion de sesion*/

#footer {
    background-color: transparent;
    width: 200px;
    height: auto;
    color: white;
}

#pie-footer {
    width: 100px;
    height: auto;
}

#titulo-footer {
    color: white;
    text-align: center;
    position:relative; /* Ahora si esta mas centrado*/
    top: 10px;
}

#tarjeta {
    font-size: 90px;
    margin-top: 0px;
    font-weight: 800;
    color: white;
    text-align: center;
    position: relative;
    left: -20px;
}

#envio {
    font-size: 90px;
    margin-top: 0px;
    font-weight: 800;
    color: white;
    text-align: center;
    position: relative;
}

#seguridad {
    font-size: 90px;
    margin-top: 0px;
    font-weight: 800;
    color: white;
    text-align: center;
    position: relative;
}

#contador {
    color: white;
    position:relative;
    top:-10px;
    left:1100px;
}

#posicion-tarjeta {
    position: relative;
    left: -400px;
    right: 20px;
    top: 250px;
}

#posicion-travel {
    position: relative;
    left: 0px;
    right: 0px;
    top: 0px;
}

#posicion-seguridad {
    position: relative;
    top: -210px;
    left: 400px;
}
