body {
}

.bodyImage {
    background-image: url(https://i.pinimg.com/originals/ab/bd/6c/abbd6ca05c46ec0de9565500f365af56.jpg);
}

.imagenTransparente {
    background-color: rgba(255,0,0,0.0);
}

.tipotTexto {
    font-style:italic;
}

